.no-padding {
    padding: 0;
}

.no-margin {
    margin: 0;
}

.no-margin-bottom {
    margin-bottom: 0;
}

.bottom-captions {
    caption-side: bottom;
}

.anchorize, .trigger-event {
    cursor: pointer;
}

.center-center {
    text-align: center !important;
    vertical-align: middle !important;
}

.cursor-disabled {
    cursor: not-allowed;
}

.text-faint {
    color: #CDCDCD;
}

body {
    padding-top: 50px;
}

.navbar-brand {
    height: 50px;
}

.navbar-brand img {
    max-width: 100%;
    max-height: 100%;
}

.text-light {
    color: white;
}

.bg-shade {
    background: rgba(0, 0, 0, 0.8);
    display: inline-block;
    padding: 20px;
}

.link-submit {
    cursor: pointer;
}

.keepInViewport {
    height: 65vh;
}

.abs-right {
    position: absolute;
    right: 50px;
    top: 10px;
}

.pagination {
    margin-bottom: 0;
}