{% verbatim %}
    <script id="alert-template" type="text/template">
        <div class="alert alert-{{context}}"><span class="glyphicon glyphicon-{{icon}}"></span> {{message}}</div>
    </script>
{% endverbatim %}