<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico">

    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="/css/form-clearinput.css">
    <link rel="stylesheet" href="/css/utility.css">
    <link rel="stylesheet" href="/css/tableexport.css">
    <link rel="stylesheet" href="/js/trumbowyg/ui/trumbowyg.min.css">
    <link rel="stylesheet" href="/js/trumbowyg/plugins/colors/ui/trumbowyg.colors.min.css">

    <!-- HTML5 shim y Respond.js para soporte IE8 de elementos HTML5 y media queries -->
    <!-- WARNING: Respond.js no funciona si ves la página via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- jQuery (necesario para los plugins JavaScript de Bootstrap) -->
    <script src="/js/jquery-3.1.0.min.js"></script>
    <script src="/js/bootstrap.min.js" defer></script>
    <script src="/js/mustache.min.js" defer></script>

    <script src="/js/jszip.js"></script>
    <script src="/js/xlsx.core.js"></script>
    <script src="/js/blob.js"></script>
    <script src="/js/FileSaver.js"></script>
    <script src="/js/tableexport.js"></script>

    <script src="/js/pubsub.js" defer></script>
    <script src="/js/alerts.js" defer></script>
    <script src="/js/form-clearinput.js" defer></script>
    <script src="/js/link-submit-form.js" defer></script>
    <script src="/js/anchorize.js" defer></script>
    <script src="/js/submit-form-with-method.js" defer></script>
    <script src="/js/click-trigger-event.js" defer></script>
    <script src="/js/modal-eliminar.js" defer></script>
    <script src="/js/cover-background.js" defer></script>
    <script src="/js/setup.js" defer></script>
    <script src="/js/vue.min.js" defer></script>
    <script src="/js/enviar-ajuste-producto.js" defer></script>
    <script src="/js/trumbowyg/trumbowyg.min.js"></script>
    <script src="/js/trumbowyg/plugins/colors/trumbowyg.colors.min.js"></script>
    <script>
        $.trumbowyg.svgPath = '/js/trumbowyg/ui/icons.svg';
    </script>
</head>
<body>
    {% include 'templates/navbar.twig' %}
    {% include 'templates/alert.twig' %}

    {% import 'templates/breadcrumbs.twig' as bread %}

    {# ALERTS GO HERE #}
    <div class="container-fluid">
        <div class="row">
            <ol class="breadcrumb">
                {% block breadcrumb %}{% endblock %}
            </ol>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div id="alert-group"></div>
            </div>
        </div>
    </div>

    {% block content %}{% endblock %}
</body>
</html>
