{% extends 'templates/base.twig' %}

{% block title  %}Modificar Medida{% endblock %}

{% block breadcrumb %}
    {{ bread.crumb(path_for('measurements'), 'Medidas') }}
    {{ bread.crumb_active('Editar Medida') }}
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            {% if unitSaved is same as(true) %}
            <div class="alert alert-success"><span class="glyphicon glyphicon-ok-sign"></span> La unidad de medida ha sido modificada exitosamente!</div>
            {% endif %}
            {% if unitSaved is same as(false) %}
            <div class="alert alert-danger"><span class="glyphicon glyphicon-remove-sign"></span> No se pudo modificar la unidad de medida.</div>
            {% endif %}
            <div class="panel panel-primary">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title pull-left">Modifica esta unidad de medida</h3>
                    <button type="button" class="btn btn-xs btn-danger pull-right" data-toggle="modal" data-target="#modal-eliminar-recurso">
                        <span class="glyphicon glyphicon-trash"></span>
                        Eliminar
                    </button>
                </div>
                <div class="panel-body">
                    <form action="{{ path_for('measurements/update', {id: idMedida}) }}" method="post">
                        <div class="form-group has-feedback has-clear">
                            <label for="unidadMedida">Nombre de la Magnitud</label>
                            <input type="text" name="unidadMedida" value="{{ input.unidadMedida }}" class="form-control" id="unidadMedida" maxlength="100">
                            <span class="form-control-clear glyphicon glyphicon-remove form-control-feedback {% if not input.unidadMedida %}hidden{% endif %}"></span>
                        </div>
                        <button type="submit" class="btn btn-block btn-info"><span class="glyphicon glyphicon-edit"></span> Modificar Medida</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'unitsofmeasurement/eliminarmedida.twig' %}
{% endblock %}
