{% extends 'templates/base.twig' %}

{% block title  %}Modificar Marca{% endblock %}

{% block breadcrumb %}
    {{ bread.crumb(path_for('brands'), 'Marcas') }}
    {{ bread.crumb(path_for('brands/update', {id: idMarca}), 'Editar Marca') }}
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            {% if brandSaved is same as(true) %}
            <div class="alert alert-success"><span class="glyphicon glyphicon-ok-sign"></span> La marca ha sido modificada exitosamente!</div>
            {% endif %}
            {% if brandSaved is same as(false) %}
            <div class="alert alert-danger"><span class="glyphicon glyphicon-remove-sign"></span> No se pudo modificar la marca.</div>
            {% endif %}
            <div class="panel panel-primary">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title pull-left">Modifica esta marca de producto</h3>
                    <button class="btn btn-xs btn-danger pull-right" data-toggle="modal" data-target="#modal-eliminar-recurso">
                        <span class="glyphicon glyphicon-trash"></span>
                        Eliminar
                    </button>
                </div>
                <div class="panel-body">
                    <form action="{{ path_for('brands/update', {id: idMarca}) }}" method="post">
                        <div class="form-group has-feedback has-clear {% if failedInputs.nombreMarca %}has-error{% endif %}">
                            <label for="nombreMarca">Nombre de la Marca</label>
                            <input type="text" name="nombreMarca" value="{{ input.nombreMarca }}" class="form-control" id="nombreMarca" maxlength="100">
                            <span class="form-control-clear glyphicon glyphicon-remove form-control-feedback {% if not input.nombreMarca %}hidden{% endif %}"></span>
                            {% if failedInputs.nombreMarca %}
                                <span class="help-block">Debe ser entre 1 y 100 caracteres.</span>
                            {% endif %}
                        </div>
                        <button type="submit" class="btn btn-block btn-info"><span class="glyphicon glyphicon-edit"></span> Modificar Marca</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'brands/eliminarmarca.twig' %}

<script src="/js/delete-marca.js" defer></script>
{% endblock %}
