<div class="panel {% if descuentos %}panel-primary{% else %}panel-default{% endif %}">
    <div class="panel-heading">
        <h2 class="panel-title">Descuentos aplicables al producto</h2>
    </div>
    <div class="table-responsive">
        <table class="table table-hover">
            {% if not descuentos %}
                <caption class="bottom-captions text-center">No se encontraron resultados</caption>
            {% endif %}
            <thead>
            <tr>
                <th>Descripción</th>
                <th>Cantidad</th>
            </tr>
            </thead>
            <tbody>
            {% for descuento in descuentos %}
                <tr class="anchorize" data-href="{{ path_for('products/descuentos/modify', {'productoID': productID, 'descuentoID': descuento.DescuentoID}) }}">
                    <td>{{ descuento.RazonDescuento }}</td>
                    <td>$ {{ descuento.CantidadDescontada }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>