<div class="modal" id="modal-upload-pic" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Subir Imagen</h4>
            </div>
            <div class="modal-body">
                <form method="post" action="{{ path_for('products/picture', {id: productID}) }}" enctype="multipart/form-data">
                   <div>
                     <label for="file">Selecciona la Imagen (formato .jpg)</label>
                     <input type="file" id="file" name="picture" accept=".jpg">
                 </div>
                 <div>
                     <button type="submit" class="btn btn-block btn-info" style="margin-top: 20px">Enviar</button>
                 </div>
             </form>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        </div>
    </div>
</div>
</div>
