{% extends 'templates/base.twig' %}

{% block title  %}Inicio{% endblock %}

{% block breadcrumb %}
    {{ bread.crumb_active('Inicio') }}
{% endblock %}

{% block content %}
    <div class="jumbotron text-center">
        <h1>Sistema de Inventarios</h1>
        <p>*Trabajo en Progreso*</p>
    </div>
{% endblock %}
