{% extends 'templates/base.twig' %}

{% block title  %}Inicio{% endblock %}

{% block breadcrumb %}
    {{ bread.crumb(path_for('homepage'), 'Inicio') }}
{% endblock %}

{% block content %}
    <div class="jumbotron text-center text-light">
        <img class="image-background-cover" src="http://loremflickr.com/1280/720/business,office/all" alt="Wellcome Image Background">
        <div class="bg-shade">
            <h1>Bienvenid@</h1>
            <p>Sistema de Control de Inventarios y Facturación</p>
        </div>
    </div>
{% endblock %}
